:root {
  --primary_Pale_blue: hsl(225, 100%, 94%);
  --primary_Bright_blue: hsl(245, 75%, 52%);

  --Neutral_Very_pale_blue: hsl(225, 100%, 98%);
  --Neutral_Desaturated_blue: hsl(224, 23%, 55%);
  --Neutral_Dark_blue: hsl(223, 47%, 23%);
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
p{
  font-size: 16px;
}
/* Fonts */
@font-face {
  font-family: "Red Hat Display";
  src: local("Red Hat Display"), local("Red Hat Display"),
    url("./assets/fonts/RedHatDisplay-Regular.ttf") format("truetype"); /*Super Modern Browsers*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RedHatDisplay-Black";
  src: local("RedHatDisplay-Black"), local("RedHatDisplay-Black"),
    url("./assets/fonts/RedHatDisplay-Black.ttf") format("truetype"); /*Super Modern Browsers*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RedHatDisplay-Medium";
  src: local("RedHatDisplay-Medium"), local("RedHatDisplay-Medium"),
    url("./assets/fonts/RedHatDisplay-Medium.ttf") format("truetype"); /*Super Modern Browsers*/
  font-weight: normal;
  font-style: normal;
}
body {
  background: var(--primary_Pale_blue);
  font-family: "Red Hat Display";
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* width: 500px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px; */
  background-color: #fff;
  width: 28em;
  border-radius: 1.25rem;
  margin: 0.75rem;
  overflow: hidden;
}
.hero-section {
  width: 100%;
}
.hero-section img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
 .order{
  width: 80%;
  margin: 0 auto;
} 
.summary {
  margin: 15px;
  text-align: center;
}
.summary h1 {
  font-family: "RedHatDisplay-Black";
  color: var(--Neutral_Dark_blue);
  margin: 0;
}
.summary p {
  color: var(--Neutral_Desaturated_blue);
  font-family: "RedHatDisplay-Medium";
  line-height: 1.5em;
  padding: 15px 10px;
}
.order-section {
  display: flex;
  background-color: var(--Neutral_Very_pale_blue);
  margin:0 auto;
  padding: 25px;
  border-radius: 15px;
  align-items: center;
}
.annual-plan{
  margin-left: 15px;
}
.annual-link{
  margin-left: 110px;
}
.order-section h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family:"RedHatDisplay-Black";
}
.order-section a{
  text-decoration: underline;
  color: var(--primary_Bright_blue);
  font-family:"RedHatDisplay-Black";
}
.order-section a:hover{
  cursor: pointer;
  text-decoration: none;
  color: rgba(56, 41, 224, .7);
}
.order-section p{
    color: var(--Neutral_Desaturated_blue);
    font-family: "RedHatDisplay-Medium";
}
button {
  width: 100%;
  margin: 20px auto;
  display: block;
  padding: 20px 40px;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--primary_Bright_blue);
}
button:hover{
  cursor: pointer;
  background-color: rgba(56, 41, 224, .7);
}
.cancel{
      color: var(--Neutral_Desaturated_blue);
      font-family: "RedHatDisplay-Medium";
      font-weight: 700;
      width: 100%;
      margin: 30px auto;
      display: block;
      text-align: center;
}
.cancel:hover{
  color: var(--Neutral_Dark_blue);
}